<div class="container">
  <div class="row gy-4">
      <div class="col-sm">
        <div class="card" >
          <img class="card-img-top" src="assets/images/SmartWatch.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" >
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7Hb-Sfyn5ay1IvqGnZm1VB4Q_YYB95YqX2A&usqp=CAU" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" >
          <img class="card-img-top" src="https://www.shutterstock.com/image-photo/cute-baby-browsing-smartphone-sitting-600w-160381259.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm" >
          <div class="card" >
            <img class="card-img-top" src="https://media.istockphoto.com/id/932262734/photo/technology-for-children-a-girl-wearing-pink-glasses-uses-a-smartwatch.jpg?s=612x612&w=0&k=20&c=6IkmYo3w-pq_LCov8z25D_dzMF1t522UFOcjnVEfDOk=" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
  </div>
</div>