<p>my parents employee data is</p>
<h1 class="text-center bg-success text-white">EmployeeDetails</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
       <table align="left" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>sno</th>
            <th>EmployeeId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
       <tbody>
        <tr  *ngFor="let emp of httpEmpList;let i=index">
          <td>{{i+1}}</td>
          <td>{{emp.id}}</td>
          <td>{{emp.first_name}} </td>
          <td>{{emp.last_name}}</td>
          <td>{{emp.email}}</td>
          <td>
            <button class ="btn btn-primary" (click)="editHttpEmpDetails(emp.id,emp.first_name,emp.last_name,emp.email)">Edit</button>&nbsp;&nbsp;
            <button class ="btn btn-primary" (click)="deleteHttpEmpDetails(emp.id)">Delete</button>
          </td>
        </tr>
       </tbody>
      </table>
    </div><div class="col-sm-3">
        <h1>Add Employee</h1>
        <form name="abc">
         <div class="mb-3">
           EmployeeId:<input type="number"  name="eid" autocomplete="off" [(ngModel)]="eid"/>
         </div>
          <div class="mb-3">
           FirstName:<input type="text" name="fname" [(ngModel)]="fname" />
          </div>
          <div class="mb-3">
           LastName:<input type="text" name="lname" [(ngModel)]="lname" />
          </div>
          <div class="mb-3">
            Email:<input type="text" name="email" [(ngModel)]="email" />
           </div>
           
       
          <button  class="btn btn-primary ms-3" (click)="postHttpEmpDetails(eid,fname,lname,email)" >Add</button>&nbsp;&nbsp;
          <button class="btn btn-primary" type="reset"  value="reset" >Reset</button>&nbsp;&nbsp;
          <button  class="btn btn-primary ms-3" (click)="UpdateHttpEmpDetails(eid,fname,lname,email)" >Update</button>&nbsp;&nbsp;
        </form>
      </div>
    </div>
  </div>
    


