<h1 class="text-center bg-primary">Registration Form</h1>
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="registration-form">
    <form #myForm="ngForm" (submit)="submitMyForm(myForm.value)">   
       
      <p>
        FullName:
        <input name="fname" #fname="ngModel" [(ngModel)]='user.fname' ngModel required>
        <span class="text-danger" *ngIf="fname.hasError('required') ">*Fullname is mandatory</span>
      </p>
      <p>
        Username
        <input name="uname" #uname="ngModel"  ngModel required minlength="5" maxlength="15">
        <span class="text-danger" *ngIf="uname.hasError('minlength')">Minimum 5 Characters</span>
        <span class="text-danger" *ngIf="uname.hasError('maxlength')">Mamimum 15 Characters</span>
      </p>
      <p>Email:
        <input type="email" name="email" #emailRef="ngModel" [(ngModel)]='user.email' required email />
        <span *ngIf="emailRef.hasError('required') && emailRef.dirty" class="text-danger">plz fill email</span>
        <span *ngIf="emailRef.hasError('email') && emailRef.dirty" class="text-danger">email format is not
            correct</span>
        </p>
        <p>
            Gender:
            <input type="radio" name="gender" value='male' ngModel />Male
            <input type="radio" name="gender" value='female'ngModel />female
        </p>
        <p>
            <input type="checkbox" name="chkbox" #chkbox="ngModel" ngModel>&nbsp;&nbsp;I agree
        </p>     
      <button type='submit'class="btn btn-primary" [disabled]="myForm.invalid">Register</button>&nbsp;&nbsp;
      <button type="reset" class="btn btn-primary">Reset</button>
     </form>
</div>
</div>
</div>
</div>