<div class="center">
    <!--<app-signup></app-signup>
    <app-products></app-products>
    <app-directive></app-directive>
    <app-displayproducts></app-displayproducts>
    <app-greet></app-greet>
    <app-databinding></app-databinding>
    <app-pipesdemo></app-pipesdemo>
  <app-employeecrud></app-employeecrud>
  <app-employee-crud1></app-employee-crud1>
   <app-comments></app-comments>
  <app-math1></app-math1>
  <app-math2></app-math2>
  <app-usertable></app-usertable>
  <app-user-cards></app-user-cards>
   <app-emp-service></app-emp-service>
  <app-httpdemo1></app-httpdemo1>
  <app-http-emp-crud></app-http-emp-crud>
  <app-formcompnt></app-formcompnt>
  <app-reactiveform></app-reactiveform>-->
 <router-outlet></router-outlet>
</div>