<div>
    <button class="btn btn-primary" (click)="getAllEmployees()">AllEmployees</button>&nbsp;
    <button class="btn btn-primary"(click)="getMaleEmployees()">MaleEmployees</button>&nbsp;

    <button class="btn btn-primary" (click)="getFeMaleEmployees()">FeMaleEmployees</button>
</div>
<br>
<br>
<br>
<h1 class="text-center bg-success text-white">EmployeeDetails</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      
       <table align="left" class="table-bordered table-striped-columns">
        <thead>
          <tr>
            <th>sno</th>
            <th>EmployeeId</th>
            <th>EmployeeName</th>
            <th>Salary</th>
            <th>Gender</th>
            
          </tr>
        </thead>
       <tbody>
        <tr  *ngFor="let emp of empData;let i=index">
          <td>{{i+1}}</td>
          <td>{{emp.eId}}</td>
          <td>{{emp.name}} </td>
          <td>{{emp.sal}}</td>
          <td>{{emp.Gender}}</td>
          
        </tr>
       </tbody>
      </table>
    </div>