<div class="col-sm-3">
    <h1>Add Employee</h1>
    <form name="abc">
     <div class="mb-3">
       EmployeeId:<input type="number"  name ="employId" #id autocomplete="off" />
     </div>
      <div class="mb-3">

       EmployeeName:<input type="text" name ="employName" #name />
      </div>
      <div class="mb-3">
       salary:<input type="number" name ="employSal" #sal/>
      </div>
      <div class="mb-3">
        Gender:<input type="text" name ="employGen" #gen/>
       </div>
   
      <button  class="btn btn-primary ms-3" (click)="addEmployee(id.value,name.value,sal.value,gen.value)" >AddEmployee</button>&nbsp;&nbsp;
    </form>
  </div>
