<h4>{{name}}</h4>
<h4>{{name | uppercase}}</h4>
<h4>{{name | lowercase}}</h4>
<h4>{{name | titlecase}}</h4>
<h4>{{emp.sal | currency:'INR'}}
<h4>{{emp.sal | currency}}</h4>
<h4>{{today | date}}</h4>
<h4>{{today | date:'fullDate'}}</h4>
<h4>{{today | date:'mediumDate'}}</h4>
<h4>{{today | date:'fullTime'}}</h4>
<h4>{{today | date:'shortTime'}}</h4>
<h4>{{today | date : 'dd / MMM / yyyy'}}</h4>
<h4>{{12.11123232  | number :"3.2-5"}}</h4>
<h4>{{2.1 | number :"3.2-5"}}</h4>
<h4>{{0.75 | percent}}</h4>
<h4>{{emp}}</h4>
<h4>{{emp | json}}</h4>
<h4 *ngFor="let entry of emp | keyvalue">
    {{entry.key}}---{{entry.value}}
</h4>
<h4>{{arr | slice:2:4 }}</h4>
<textarea maxlength="100" [(ngModel)]="msg"></textarea>
<!--<p>Remaining:{{msg | remaining}}</p>-->
<input type="number" [(ngModel)]="cardinal">
<p>cardinal | {{cardinal}}</p>
<p>ordinal | {{cardinal |remaining}}</p>
<textarea maxlength="100" [(ngModel)]="msg1"></textarea>
<p>Message: {{msg1 | truncate}}</p>
<p></p>